html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.tetelName {
    padding: 5px 20px;
}

.tetelName:hover{
    background-color: purple;
    color:white;
    cursor: pointer;
}

.tetelName:active{
    background-color: mediumpurple;
}

.download {
    max-width: 40px;
    max-height: 40px;
    aspect-ratio: 1/1 !important;
    padding: 0;
}

.tetelek{
    padding:0;
    margin:0;
    list-style-type: none;
}

.accordion-body{
    padding:0;
}